.page-header {

    margin-bottom: 30px;

}

.page-header h1 {

    font-size: 35px;

    color: #1E3A8A;

    font-weight: 700;

    margin-bottom: 8px;

}

.page-header p {

    color: #666;

    font-size: 16px;

}